<html lang="ja">
  <head>
    <title>g-f-a</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
    <h1 class="title">データテーブル</h1>
    <table class="table">
      <thead>
        <tr>
          <th>名前</th>
          <th>年齢</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{name}}</td>
          <td>{{age}}</td>
        </tr>
      </tbody>
    </table>
    </body>
  </html>